<div class="widget-search widget">
	<script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5y2pbv613wx&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>
	<!-- <a href="https://www.revolvermaps.com/livestats/5ispw88mnft/">
		<img src="//rf.revolvermaps.com/h/m/a/0/ff0000/128/0/5ispw88mnft.png" width="256" height="128" alt="Map" style="border:0;">
	</a> -->
	<!-- <form class="widget-search__form" role="search" method="get" action="https://google.com/search">
		<label>
			<input class="widget-search__field" type="search" placeholder="{{ T "search_placeholder" }}" value="" name="q" aria-label="{{ T "search_placeholder" }}">
		</label>
		<input class="widget-search__submit" type="submit" value="Search">
		<input type="hidden" name="sitesearch" value="{{ .Site.BaseURL }}" />
	</form> -->
</div>
