{{ partial "header.html" . }}

<main class="main content">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
			{{- if or (not .Date.IsZero) .Params.categories }}<div class="post__meta meta">{{ partial "post_meta.html" . }}</div>{{ end }}
		</header>
		{{- if .Params.thumbnail }}
		<figure class="post__thumbnail">
			<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
		</figure>
		{{- end }}
		{{- partial "post_toc.html" . -}}
		<div class="post__content clearfix">
			{{ .Content }}
		</div>
		<!-- <dev style="border-top: 1px solid #ebebeb">

			<table>
				<tr><td style="text-align: right;">文档标题: </td><td>{{ .Title }}</td></tr><tr>
					<td style="text-align: right;">发表作者: </td><td><a href="{{ "" | absLangURL  }}">{{ .Site.Author.name }}</a></td></tr><tr>
					<td style="text-align: right;">原始连接: </td><td>{{ .Site.BaseURL }}{{ .URL }}</td></tr><tr>
					<td style="text-align: right;">许可协议: </td><td>自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</td></tr><tr>
				</tr>
			</table>
			<hr />
		</dev> -->
		{{ partial "post_tags.html" . }}
	</article>
	{{ partial "authorbox.html" . }}
	{{ partial "post_nav.html" . }}
	{{ partial "comments.html" . }}
</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
